<% layout('layouts/boilerplate.ejs') -%>
<body>
    <div class="row">
        <div class="col-8 offset-3">
        <h3><%= listing.title %></h3>
        </div>
        <div class="card show-card col-6 offset-3 listing-card">
            <img src="<%= listing.image %>" class="card-img-top show-img" alt="listing-image">
            <div class="card-body">
                <p><%= listing.description %></p>
                <p>&#8377;<%= listing.price.toLocaleString("en-IN") %></p>
                <p><%= listing.location %></p>
                <p><%= listing.country %></p>
            </div>
        </div>
        <div class="buttons">
            <a href="/listings/<%= listing._id %>/edit" class="btn btn-primary col-1 offset-3 add-btn">Edit</a>
        
            <form action="/listings/<%= listing._id %>?_method=DELETE" method="post">
                <button class="btn btn-dark offset-5">Delete</button>
            </form>  
        </div>

        <div class="col-8 offset-3 mb-3">
            <hr>
            <h3>Leave a Review</h3>
            <form action="/listings/<%= listing._id %>/reviews" method="post" class="needs-validation" novalidate>
                <div class="mt-3 mb-3">
                    <label for="rating" class="form-label">Rating</label>
                    <input type="range" class="form-range" step="1" id="rating" name="rating" min="1" max="5">
                </div>
                <div class="mt-3 mb-3">
                    <label for="comment" class="form-label">Comment</label>
                    <textarea name="comment" id="comment" class="form-control" cols="30" rows="5" required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid review.
                    </div>
                </div>
                <button class="btn btn-outline-dark">Submit</button>
            </form>
        </div>
        <div class="col-8 offset-3 mb-3">
            <hr>
            <h3>All Reviews</h3>
            <div class="row">
                <% for(let review of listing.reviews){ %>
                    <div class="card col-5 ms-3 mb-3">
                        <div class="card-body mb-3">
                            <h5 class="card-title">Username</h5>
                            <p class="card-text"><%= review.comment %></p>
                            <p class="card-text"><%= review.rating %>stars</p>
                          </div>
                          <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE" class="mb-3" method="post">
                            <button class="btn btn-sm btn-dark">Delete</button>
                          </form>
                    </div>
                <% } %>
            </div>
        </div>
    </div>        
</body>
